fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
psycopg[binary]
pgvector

pydantic
pydantic[email]

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

python-dotenv

groq
einops

sentence-transformers
torch
transformers

pypdf
python-docx
openpyxl
python-pptx
beautifulsoup4
lxml

pytesseract
Pillow
pdf2image
pdfplumber

email-validator
python-multipart
resend
langchain-text-splitters