fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pgvector

pydantic
pydantic[email]

python-jose[cryptography]
passlib[bcrypt]

python-dotenv

ollama

sentence-transformers
torch
transformers

pypdf
python-docx
openpyxl
python-pptx
beautifulsoup4
lxml

email-validator
python-multipart